
system {
    processes {
        routing enable;
        ntp enable;
        management enable;
        watchdog enable;
        snmp enable;
        inet-process enable;
        mib-process enable;
    }
}


