---
###################################################################################
#
# Copyright 2020 Juniper Networks, Inc. All rights reserved.
#
#
# Description   :
#

{% for dev in  fab_devices                                             %}
{{ "%-20s" | format(dev.hostname) }} ansible_host={{ "%-15s" | format(dev.ip) }} ansible_user={{ "%-16s" | format(dev.ssh_user_name | default('root', true)) }}  ansible_ssh_private_key_file={{ "%-40s" | format(dev.ssh_private_key_file) }} #  ansible_ssh_pass={{ "%-16s" | format(dev.ssh_user_password) }}
{% endfor                                                              %}

[cluster_fabric_devices]
{% for dev in  fab_devices                                             %}
{{ dev.hostname}} model={{dev.model}} serial_number={{dev.serial_number}} version={{dev.version}} login_user_name={{ dev.ssh_user_name }}
{% endfor                                                              %}

[cluster_fabric_devices:vars]
login_shell=' '


